echo 'Installing pre-commit hook...'
cp ./pre-commit.sh ./.git/hooks/pre-commit
echo 'Updating Nix inputs...'
nix flake update
echo 'Updating Rust inputs...'
nix run nixpkgs#cargo -- update
echo 'Formatting...'
nix fmt
echo 'Populating $PATH...'
use flake
echo 'Checking for outdated crates (FYI only)...'
nix run nixpkgs#cargo-outdated -- outdated || :
